.navbar  {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    .navbar-brand {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 1.5rem;
    }
    
    .navbar-menu {
        display: flex;
        flex-flow: row nowrap;
        gap: 1rem;

        .navbar-menu-item {
            .navbar-menu-item-link {
                display: inline-block;
                padding: 0.5rem 1rem;
                font-size: 0.9rem;
                transition: all 0.5s;

                &:hover, &:active {
                    color: #000;
                    background-color: #e1dfdd;
                }

                &.active {
                    color: #fff;
                    background-color: $Yellow;
                }
            }
        }
    }
}